<h1>Balance: <%= Record.get_balance %></h1>
<h1>Debt: <%= Record.get_debt %></h1>
<h1>Total: <%= Record.get_total %></h1>

<% if @records != nil %>
<table class="table table-hover table-bordered">
  <thead>
    <td>Date</td>
    <td>Title</td>
    <td>Amount</td>
    <td></td>
    <td></td>
  </thead>
  <% @records.each do |record| %>
    <tr>
      <td><%= record.date %></td>
      <td><%= record.title %></td>
      <td><%= record.amount %></td>
      <td><%= link_to '<span class="glyphicon glyphicon-pencil"></span> Edit'.html_safe, edit_record_path(record), class: "btn btn-sm btn-warning" %></td>
      <td><%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete'.html_safe, record_path(record), method: :delete, class: "btn btn-sm btn-danger", data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
<% else %>
<h3>No contents</h3>
<% end %>
</table>
